<head>
    <title>Store's Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/banners/loggedin.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/stores/main.css" type="text/css">
</head>

<body>
    <%= erb :'/partials/banner/_loggedin_banner'%>
    <main>
        <article id="search-create">
            <section id="search-create-headings">
                <h2><a href="/stores/new">Create A Store </a></h2>
                <h3>Number of stores in our database: <%=@stores_count%></h3>
            </section>

            <section id="search-options">
                <div id="align-options">
                    <ul>
                        <li>To see all stores, hit "submit"</li>
                        <li>To see all stores in a certain state, change state & hit "submit"</li>
                        <li>To find specific stores in a certain state, type a name, set the state & hit "submit"</li>
                    </ul>
                </div>
            </section>

            <div class="search-flex">
                <%= erb :'/stores/search' %>
            </div>
        </article>
        
        <aside id="aggregated">
            <section class="store">
                <div class="header-color">
                    <h2 class="aggregate-heading">Most Popular Stores</h2>
                </div>
                <% popular_stores.each do |store_name, favorites_count|%>
                    <div id="store-container-<%= store_name %>">
                        <h3><%= store_name %>: Number of user favorites: <%= favorites_count %></h3>
                    </div>
                <% end %>
            </section>

            <section class="store">
                <div class="header-color">
                    <h2 class="aggregate-heading">Most Reviewed Stores</h2>
                </div>
                <% most_reviewed_stores.each do |store_name, reviews_count|%>
                    <div id="store-container-<%= store_name %>">
                        <h3><%= store_name %>: Number of user favorites: <%= reviews_count %></h3>
                    </div>
                <% end %>
            </section>
        </aside>
    </main>
</body>