<main>
    <h2><a href="<%=@store.url%>"><%=@store.name%></a></h2>
    <article>

        <section>
            <form action="/my-stores/<%=@store.id%>" method="POST">
                <input type="hidden" name="favorited" value="<%=@store%>">
                <input type="submit" value="Favorite?">
            </form>
        </section>
    
        <section>
            <img src="<%=@store.image%>" alt="Restaurant Photo" style="width:700px;height:500px;">
        </section>

        <section>
            <h3><%=@store.address%></h3>
            <p><%=@store.description%></p>
        </section>

        <section>
            <h3>Reviews:</h3>
            <%@store.reviews.each do |review|%>
                <article>
                    <h4><a href="/users/<%=review.user_id%>"><%=review.user.username%>:</a> <%= review.title %></h4>
                    <p><%=review.content%></p>
                </article>
            <% end %>
        </section>

        <section>
            <article>
                <h3>Create a New Review:</h3>

                <form action="/my-reviews/:id" method="POST">
                    <input type="text" name="review[title]" placeholder="Title">
                    <input type="text" name="review[content]" placeholder="Content"></input>
                    <input type="hidden" name='store_id' value='<%=@store.id%>''>
                    <input type="submit" value="Submit">
                </form>
            </article>
        </section>
    </article>
</main>
