<head>
<title>Stores</title>
<link rel="stylesheet" href="/stylesheets/loggedin_banner.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/stores/individual_store.css" type="text/css">
</head>

<body>

<div class="storeinfo">
    <h1 id="store-name">
    <a href="<%=@store.url%>"><%=@store.name%></a>
    </h1>

    <div class="formbutton">
        <form action="/my-stores/<%=@store.id%>" method="POST">
        <button input class="button" type="submit" value="<%=@store%>">Favorite?</button>
        </form>
    </div>
    
        <img src="<%=@store.image%>" alt="Restaurant Photo" style="width:700px;height:500px;">
        
        <h3 id="store-address">
            <%=@store.address%>
        </h3>

        <p id="store-description">
            <%=@store.description%>
        </p>
        <p id="store-reviews"><%@store.reviews.each.with_index(1) do |review, index|%>
            <a href="/users/<%=review.user_id%>"><%=index%>. <%=review.user.username%>: <%= review.title %><br></a>
            <%=review.content %>
        <br>
        <br>
            <% end %>
        </p>
</div>

<div class="form">
    <h2 class="createbanner">Create a New Review:</h2>
    <h2><form action="/my-reviews/<%=@store.id%>" method="POST">
            <input id="title" type="text" name="review[title]" placeholder="Title">
    <br>
    <br>
            <textarea <input id="content" type="text" name="review[content]" placeholder="Content"></textarea>
            <input id="submit" type="submit" value="Submit">
        </form>
    </h2>

</div>
</body>
