<main>
    <article>
        <h2><a href="<%=@store.url%>"><%=@store.name%></a></h2>

        <section>
            <form action="/my-stores/<%=@store.id%>" method="POST">
                <input type="hidden" name="favorited" value="<%=@store%>">
                <input type="submit" value="Favorite?">
            </form>
        </section>
    
        <section>
            <img src="<%=@store.image%>" alt="Restaurant Photo" style="width:700px;height:500px;">
        </section>

        <section>
            <h3><%=@store.address%></h3>
            <p><%=@store.description%></p>
        </section>

        <section>
            <ol>
                <%@store.reviews.each do |review|%>
                    <li>
                        <p><a href="/users/<%=review.user_id%>"><%=review.user.username%>:</a> <%= review.title %></p>
                        <p><%=review.content%></p>
                    </li>
                <% end %>
            </ol>
        </section>
    </article>
</main>

<article>
    <h2>Create a New Review:</h2>

    <form action="/my-reviews/:id" method="POST">
        <input type="text" name="review[title]" placeholder="Title">
        <textarea type="text" name="review[content]" placeholder="Content"></textarea>
        <input type="hidden" name='store_id' value='<%=@store.id%>''>
        <input type="submit" value="Submit">
    </form>
</article>
