<main>
    <h2><%=@store.name%></h2>
    <article>
        <%= @store.user_id == current_user.id ? "<h3><a href='/stores/#{@store.id}/edit'>Edit Your Store?</a></h3>" : ""  %>
        <section>
            <form action="/favorites" method="POST">
                <input type="hidden" name="store_id" value="<%=@store.id%>">
                <input type="submit" value="Favorite?">
            </form>
        </section>
    
        <section>
            <iframe
                width="600"
                height="400"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=<%=google_api%>&q=
                <%=@store.name%>+<%=@store.street%>+<%=@store.city%>+<%=@store.state%>+<%=@store.zip_code%>" allowfullscreen>
            </iframe>
        </section>

        <section>
            <h3><%=@store.street%>, <%=@store.city%>, <%=@store.state%>, <%=@store.zip_code%></h3>
            <p><a href="<%=@store.website%>"><%=@store.website%></a></p>
            <p><%=@store.description%></p>
        </section>

        <section>
            <h3>Reviews:</h3>
            <%@store.reviews.each do |review|%>
                <article>
                    <h4><a href="/users/<%=review.user_id%>"><%=review.user.username%>:</a> <%= review.title %></h4>
                    <p><%=review.content%></p>
                </article>
            <% end %>
        </section>

        <section>
            <article>
                <h3>Create a New Review:</h3>

                <form id="new-review-form" action="/my-reviews/:id" method="POST">
                    <input id="store_id" type="hidden" name='review[store_id]' value='<%=@store.id%>'>
                    <input id="user_id" type="hidden" name='review[user_id]' value='<%=current_user.id%>'>
                    <input id="review-title" type="text" name="review[title]" placeholder="Title">
                    <input id="review-content" type="text" name="review[content]" placeholder="Content"></input>
                    <input type="submit" value="Submit">
                </form>
            </article>
        </section>
    </article>
</main>
