<main>
    <h2><%=@store.name%></h2>
    <article>

        <section>
            <form action="/favorites" method="POST">
                <input type="hidden" name="store_id" value="<%=@store.id%>">
                <input type="submit" value="Favorite?">
            </form>
        </section>
    
        <section>
            <iframe
                width="600"
                height="400"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=<%=@api_key%>&q=
                <%=@store.name%>+<%=@store.address%>" allowfullscreen>
            </iframe>
        </section>

        <section>
            <h3><%=@store.address%></h3>
            <p><a href="<%=@store.website%>"><%=@store.website%></a></p>
            <p><%=@store.description%></p>
        </section>

        <section>
            <h3>Reviews:</h3>
            <%@store.reviews.each do |review|%>
                <article>
                    <h4><a href="/users/<%=review.user_id%>"><%=review.user.username%>:</a> <%= review.title %></h4>
                    <p><%=review.content%></p>
                </article>
            <% end %>
        </section>

        <section>
            <article>
                <h3>Create a New Review:</h3>

                <form action="/my-reviews/:id" method="POST">
                    <input type="text" name="review[title]" placeholder="Title">
                    <input type="text" name="review[content]" placeholder="Content"></input>
                    <input type="hidden" name='store_id' value='<%=@store.id%>''>
                    <input type="submit" value="Submit">
                </form>
            </article>
        </section>
    </article>
</main>
