<main>
    <article>
        <%@home_feed_reviews.each do |review|%>
            <section id="grid-container">

                <div class="google-map">
                    <iframe
                        width="350"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=<%=@api_key%>
                        &q=<%=review.store.name%>+<%=review.store.address%>" allowfullscreen>
                    </iframe>
                </div>

                <div class="user-info">
                <% if !review.user.nil? %>
                    <h2><%=review.user.username%> reviewed: <a href="/stores/<%=review.store_id%>"><%=review.store.name%></a></h2> 
                <% else %>
                    <h2>[deleted] reviewed: <a href="/stores/<%=review.store_id%>"><%=review.store.name%></a></h2> 
                <% end %>
                    <h3>Title: <%= review.title %></h3>
                    <p><%= review.content%></p>
                </div>

            </section>
        <%end%>
    </article>
</main>