<main>
    <article>
            <ul id="users-grid-container">
                <%@users.each do |user|%>
                    <li class="user-grid-item"><a href="/users/<%=user.id%>"><%=user.id%>. <%= user.username %></a></li>
                <%end%>
            </ul>
    </article>
</main>
<footer>
        <div id="bottom">
            <h2>Number of Users: <%=@user_count%></h2>
            <nav role="navigation" aria-label="User pages indexes">
                <ul id="users-flex-container">
                    <li class="user-flex-item"><a href="/users/collection/<%=@first%>">First</a></li>
                    <li class="user-flex-item"><a href="/users/collection/<%=@previous%>">Previous</a></li>
                    <li class="user-flex-item"><a href="/users/collection/<%=@current_page_number%>"><%=@current_page_number%></a></li>
                    <li class="user-flex-item"><a href="/users/collection/<%=@next%>">Next</a></li>
                    <li class="user-flex-item"><a href="/users/collection/<%=@last%>">Last</a></li>
                </ul>
            </nav>
        </div>
    </footer>