<main>
    <article>
            <ul id="users-grid-container">
                <%@users.each do |user|%>
                    <li class="user-grid-item"><a href="/users/<%=user.id%>"><%=user.id%>. <%= user.username %></a></li>
                <%end%>
            </ul>
    </article>
</main>
<footer>
        <div id="bottom">
            <h2>Number of Users: <%=@user_count%></h2>
            <nav>
                <ul id="users-flex-container">
                    <li class="user-flex-item"><a href="/users/index/1">First</a></li>
                    <li class="user-flex-item"><a href="/users/index/<%=(@current_page - 1)%>">Previous</a></li>
                    <li class="user-flex-item"><a href="/users/index/<%=@current_page%>"><%=@current_page%></a></li>
                    <li class="user-flex-item"><a href="/users/index/<%=(@current_page + 1)%>">Next</a></li>
                    <li class="user-flex-item"><a href="/users/index/<%=@last_page%>">Last</a></li>
                </ul>
            </nav>
        </div>
    </footer>