<head>
  <title>User Index: <%=@current_page%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/banners/loggedin.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/users/index.css" type="text/css">
</head>

<body>
  <%= erb :'/partials/banner/_loggedin_banner'%>
  <main>
    <article>
      <ul id="users-flex-container">
        <%@users.each do |user|%>
          <li class="user-flex-item"><%=user.id%>.) <a href="/users/<%=user.id%>"> <%= user.username %></a></li>
        <%end%>
      </ul>
    </article>
  </main>
  <div id="bottom">
    <h2>Number of Users: <%=@user_count%></h2>
    <nav id="page-nav">
      <ul id="bottom-nav-flex-container">
        <li><a href=<%= users_path(1) %>>First</a></li>
        <li><a href=<%= users_path(@current_page - 1) %>>Previous</a></li>
        <li><a href=<%= users_path(@current_page) %>><%= @current_page %></a></li>
        <li><a href=<%= users_path(@current_page + 1) %>>Next</a></li>
        <li><a href=<%= users_path(@last_page) %>>Last</a></li>
      </ul>
    </nav>
  </div>
</body>