<head>
    <link rel="stylesheet" href="stylesheets/users/home.css">
</head>

<body>

<main class="feed">
    <%Review.all.order(id: :desc).each.with_index(1)do |review, index|%>

        <section>
            <h1><%=review.user.username%> Reviewed:</h1> 
            <h3><a href="/stores/<%=review.store_id%>"><%=review.store.name%>: <%= review.title %></a></h3>
            <br>
            <p><%= review.content%></p>
        </section>

    <%end%>
</main>

</body>
