<main>
    <article>
        <%Review.all.order(id: :desc).each.with_index(1)do |review, index|%>
            <section>
                <h2><%=review.user.username%> reviewed: <a href="/stores/<%=review.store_id%>"><%=review.store.name%></a></h2> 
                <h3>Title: <%= review.title %></h3>
                <p><%= review.content%></p>
            </section>
        <%end%>
    </article>
</main>