<main>
    <article>
    <!-- This is the current user account page -->
        <% if !!@current_user_page  %>
            <section id="account">
                <%= erb :'/partials/users/_show' %>
                <div id="account-buttons-container">
                    <button id="user-edit-button">Edit Account</button>
                    <button id="user-delete-button">Delete Account</button>
                </div>
            </section>

            <section id="user-reviews-list">
                <div id="user-reviews-container">
                    <h2>Number of reviews: <%=@user.reviews.count%></h2>
                    <button id="reviews-button">Reviews</button>
                </div>
            </section>
            <!-- This is the end of the current user account page -->
        <% else %>
        <!-- This is the random user show page -->
            <section id="account">
                <%= erb :'/partials/users/_show' %>
            </section>

            <section id="user-reviews-list">
                <div id="user-reviews-container">
                    <h2>Number of reviews: <%=@user.reviews.count%></h2>
                        <% @reviews.each.with_index(1) do |review| %>
                        <div>
                            <h3><%=index%>. <a href="/stores/<%=review.store.id%>"><%=review.store.name%></a></h3>
                            <p class="review-title"><a href="/stores/#<%=review.title%>"><%=review.title%></a></p>
                        </div>

                        <div id="review-content-container">
                            <p class="review-content"><%=review.content%></p>
                        </div>
                        <% end %>
                </div>
            </section>
            <!-- This is the end of the random user show page -->
        <% end %>
    </article>
</main>
<script type="application/javascript" src="<%= reviews %>" charset="UTF-8"></script>
<script type="application/javascript" src="<%= delete %>" charset="UTF-8"></script>