<main>
    <article>
        <% if !!@current_user_page  %>
            <section>
                <%= erb :'/partials/users/_show' %>

                <div>
                    <h3>Number of reviews: <%=@user.reviews.count%></h3>
                    <% @reviews.each.with_index(1) do |review, index| %>
                        <div id="review-title-container">
                            <h3><%=index%>. <a href="/stores/<%=review.store.id%>"><%=review.store.name%></a></h3>
                            <p id="review-title"><%=review.title%></p>
                        </div>

                        <div id="review-content-container">
                            <p id="review-content"><%=review.content%></p>
                        </div>
                        <% end %>
                    </ol>
                </div>

                <div>
                    <h4><a href="/users/edit">Edit Account</a></h4>
                    <h4><a href="/users/delete">Delete Account</a></h4>
                </div>
            </section>
        <% else %>
            <section>
                <%= erb :'/partials/users/_show' %>

                <div>
                    <h3>Number of reviews: <%=@user.reviews.count%></h3>
                    <ol>
                        <% @reviews.each do |review| %>
                            <li><a href="/stores/<%=review.store.id%>"><%=review.store.name%></a>: <%=review.title%></li>
                        <% end %>
                    </ol>
                </div>
            </section>
        <% end %>
    </article>
</main>