<main>
    <article>
        <% if @current_user_page == true %>
            <section>
                <h2><%= current_user.username %></h2>
                <h3><%= current_user.name %></h3>
                <h3><%= current_user.email %></h3>
                <h3>Number of reviews: <%=current_user.reviews.count%></h3>
                <h4><a href="/user/edit">Edit Account</a></h4>
                <h4><a href="/user/delete">Delete Account</a></h4>
            </section>
        <% else %>
            <section>
                <h2><%= @user.username %></h2>
                <h3><%= @user.name %></h3>
                <h3><%= @user.email %></h3>
                <article>
                    <h2>Most Recent Reviews:</h2>
                    <ul>
                       <% @user.reviews[0..9].each do |review| %>
                        <li><%=review.title%> - <%= review.store.name %></li>
                        <% end %>
                    </ul>
                    <h3><%= @user.username %>'s number of reviews: <%= @user.reviews.count %></h3>
                </article>
            </section>
        <% end %>
    </article>
</main>