<main>
    <article>
        <%@home_feed_reviews.each do |review|%>
            <section>
                <h2><%=review.user.username%> reviewed: <a href="/stores/<%=review.store_id%>"><%=review.store.name%></a></h2> 
                <h3>Title: <%= review.title %></h3>
                <p><%= review.content%></p>
            </section>
        <%end%>
    </article>
</main>