<section class="first-user-flex">
  <div id="account-info">
    <h2 id="account-name"><%= @user[:current].name %></h2>
    <p id="account-username"><%= @user[:current].username %></p>
    <p>User id: <%=@user[:current].id%></p>
    <address>
      <p id="account-email"><a href="mailto:<%= @user[:current].email %>" subject='Hole in the Wall'><%= @user[:current].email %></a></p>
    </address>
    <%= "<p style='color:#e76f62;text-decoration:black underline;' id='invalid-edit'>#{flash[:invalid_update]}</p>" if flash[:invalid_update] %>
  </div>
</section>