<head>
    <title>Edit Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/banners/loggedin.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/reviews/edit.css" type="text/css">
</head>

<body>
    <%= erb :'/partials/banner/_loggedin_banner'%>
    <main>
        <h2><%=@store.name%></h2>
        <article>
            <%= @store.user_id == current_user.id ? "<h3><a href='/stores/#{@store.id}/edit'>Edit Your Store?</a></h3>" : ""  %>
            <% if @favorited.nil? %>
            <section id="favorites-form">
                <form action="/favorites" method="POST">
                    <input type="hidden" name="store_id" value="<%=@store.id%>">
                    <input type="submit" value="Favorite">
                </form>
            </section>
            <% end %>
        
            <section class="google-map">
                <iframe
                    width="600"
                    height="400"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=<%=google_api%>&q=
                    <%=@store.name%>+<%=@store.street%>+<%=@store.city%>+<%=@store.state%>+<%=@store.zip_code%>" allowfullscreen>
                </iframe>
            </section>

            <section id="store-description">
                <h3><%=@store.street%>, <%=@store.city%>, <%=@store.state%>, <%=@store.zip_code%></h3>
                <p><a href="<%=@store.website%>"><%=@store.website%></a></p>
                <p><%=@store.description%></p>
            </section>

            <article id="form-container">
                <h2>Edit Review</h1>
                <form action="/reviews/<%=@review.id%>" method="POST">
                    <div class="edit-div">
                        <input id="hidden" type="hidden" name="_method" value="patch">
                        <label for="review-title">Title:</label>
                        <input id="review-title" type="text" name="review[title]" value="<%=@review.title%>">
                    </div>

                    <div class="edit-div">
                        <label for="review-content">Content:</label>
                        <textarea id="review-content" name="review[content]"><%=@review.content%></textarea>
                    </div>

                    <div class="edit-div">
                        <input id="edit-submit" type="submit" value="Submit">
                    </div>

                </form>
            </article>
        </article>
    </main>
</body>